@model JdMvc.Models.Personal

@{
    ViewData["Title"] = "Pictures";
    var image=ViewData["Image"] as List<Image>;
}
<body>
    <form asp-action="Pictures">
<div id="container">
    <div id="content">
        <div id="nav">
            <div id="menu">
                <dl>
                    <dt>设置</dt>
                    <dd><a href="#">个人信息</a></dd>
                    <dd><a href="#">账号安全</a></dd>
                    <dd><a href="#">我的尺码</a></dd>
                    <dd><a href="#">账号绑定</a></dd>
                    <dd><a href="#">收货地址</a></dd>
                    <dd><a href="#">健康档案</a></dd>
                    <dd><a href="#">分享绑定</a></dd>
                    <dd><a href="#">邮件订阅</a></dd>
                </dl>
            </div>
        </div>
    
    <div id="main">
        <div class="model-main">
            <div class="nav">
                <ul class="nav nav-tabs" role="tablist">
                   <li role="presentation" class="jb"><a href="/Personal/Edit/@Model.UserId">基本信息</a></li>
                     &nbsp;&nbsp;
                    <li role="presentation"><a href="/Personal/Pictures/@Model.UserId">头像照片</a></li>
                    &nbsp;&nbsp;
                     <li role="presentation"><a href="/Personal/Informations/@Model.UserId" >更多个人信息</a></li>
                </ul>
            </div>
            <div class="update-img">
                <div class="update-img-lcol">
                    <div class="form-group">
                        <input asp-for="Image" type="file" class="img-button">
                        <p>仅支持JPG、GIf、PNG、BMP格式</p>
                    </div>
                    <div class="img-da">
                        <div class="img-xiao">
                            <img src="@Model.FileUrl" id="img" width="150" hidden="150" />
                        </div>
                    </div>
                    <div class="tjtx">
                        <h6>推荐头像</h6>
                    </div>
                    <div class="img-tj">
                        <ul>
                                @foreach (var item in image)
                                {
                                    <li value="@item.Id">
                                        <img src="@item.FileUrl" width="50" height="50">
                                    </li>
                                }
                        </ul>
                    </div>
                    <div class="btn-btn">
                        <button type="submit" class="btn btn-default">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</form>
</body>

@section Scripts {
    <link rel="stylesheet" href="../../css/jd-img.css">
    <script src="../../js/img.js"></script>
} 