@model JdMvc.Models.User

@{
    ViewData["Title"] = "登录";
}
    <h2>登录</h2>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PassWord" class="control-label"></label>
        <input asp-for="PassWord" type="password" class="form-control" />
        <span asp-validation-for="PassWord" class="text-danger"></span>
    </div>

    <button type="button" class="btn btn-default" id="user-btn">登录</button>
    <a asp-action="Register">注册</a>
@section Scripts {
    <script src="~/js/user.js"></script>
} 