@model JdMvc.Models.Register

@{
    ViewData["Title"] ="注册";
}
<h2>用户注册</h2>
<form asp-action="Register">
    
        <div class="form-group">
                <label asp-for="LoginName" class="control-label"></label>
                <input asp-for="LoginName" class="form-control" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord"  class="control-label"></label>
                <input asp-for="PassWord" type="password" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpassWord" class="control-label"></label>
                <input asp-for="CpassWord" type="password" class="form-control" />
                <span asp-validation-for="CpassWord" class="text-danger"></span>
            </div>
        <button type="submit" class="btn btn-default">注册</button>
        <a asp-action="Index">登录</a>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}