body {
    font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
    background: #fff;
}

.neirong {
    position: relative;
    right: 740px;
    bottom: 170px;
    display: none;
    margin: 0;
    padding: 0;
}

.label-xuan {
    position: relative;
    right: 740px;
    bottom: 170px;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#content {
    padding-left: 120px;
    padding-top: 20px;
    display: inline-block;
    display: block;
    margin: 0;
    padding: 0;
}

#nav {
    float: left;
    position: relative;
    left: -70px;
    margin: 0;
    padding: 0;
}

#main {
    float: left;
}

#add-btn {
    color: #333;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    padding: 0 14px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin: 0 10px 0 0;
    margin: 0;
    padding: 0;
}

.zhong {
    line-height: 20px;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.zhong-body {
    border: 2px solid #e6e6e6;
    margin: 0 0 10px;
    padding: 0;
    line-height: 20px;
    height: 180px;
}

.zhong-body-1 {
    padding-left: 10px;
    line-height: 35px;
    height: 20px;
    position: relative;
    display: inline-block;
    display: block;
    overflow: visible;
    margin: 0;
}

.zhong-body-1 h3 {
    float: left;
    color: #666;
    font-family: "microsoft yahei";
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.17em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 17px;
}

.zhong-body-2 {
    padding: 10px;
    line-height: 22px;
    width: 788px;
    height: 180px;
}

.form-group-items {
    width: 450px;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 22px;
}

.form-group-items-label {
    height: 25px;
}

.fl {
    position: relative;
    left: 60px;
    bottom: 22px;
}

.close {
    position: relative;
    bottom: 200px;
}

.zhong-body-2-item-extra {
    position: relative;
    left: 170px;
    top: 121px;
}

.modal-edit-btn {
    margin: 0px;
    padding: 0px;
    /*自定义边框*/
    border: 0px;
    background-color: rgb(255, 255, 255);
    /*消除默认点击蓝色边框效果*/
    outline: none;
}
.zhong-body-1-address{
    margin: 0 0 0 28px;
    font-size: 12px;
    background: #ffaa45;
    padding: 2px;
    color: #fff;
    font-weight: 400;
    display: none;
}
.zhong-body-1-address-moren{
    margin: 0 0 0 28px;
    font-size: 12px;
    background: #ffaa45;
    padding: 2px;
    color: #fff;
    font-weight: 400;
}