@model JdMvc.Models.Addredd

<body>
<form asp-action="Pictures">
<div id="container">
    <div id="content">
        <div id="nav">
            <div id="menu">
                <dl>
                    <dt>设置</dt>
                    <dd><a href="">个人信息</a></dd>
                    <dd><a href="#">账号安全</a></dd>
                    <dd><a href="#">我的尺码</a></dd>
                    <dd><a href="#">账号绑定</a></dd>
                    <dd><a href="#">收货地址</a></dd>
                    <dd><a href="#">健康档案</a></dd>
                    <dd><a href="#">分享绑定</a></dd>
                    <dd><a href="#">邮件订阅</a></dd>
                </dl>
            </div>
        </div>
    </div>

</div>
</div>
</form>
</body>

@section Scripts {
    
} 